#root {
  width: 90%; /* Usa el 100% del ancho disponible */
  min-height: 100vh; /* Asegura que el contenedor raíz siempre llene la altura de la ventana */
  margin: 0 auto;
  padding: 1rem; /* Reduce un poco el padding para dar más espacio al contenido */
  display: flex; /* Habilita flexbox para mejorar la disposición de los elementos */
  flex-direction: column; /* Ordena los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.card {
  padding: 2em;
  width: 50%; /* Ancho de las tarjetas */
}

.read-the-docs {
  color: #888;
}
